@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat&display=swap');

html, header, body {
  font-family: 'Montserrat';
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One';
}

a, a:hover {
  color: inherit;
}

// Navbar


nav li a {
  font-family: 'Fjalla One';
  color: white;
  font-size: 1.2em;
  padding: 20px;
}

nav a:hover {
  color:white;
  text-decoration: none;
  
}

#navbar {
  background: rgb(31,214,199);  
  background: linear-gradient(140deg, rgba(31,214,199,0.85) 0%, rgba(23,162,150,0.99) 100%);
  transition: top 0.3s, background-color 0.5s;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
}

#navbar a {
  float: center;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;

  @media screen and (min-width: 768px) {
    float: left;
  }
}

// Hero / Front 

.hero, .hero > *, #heroContent {
  min-height: 500px;
  height: 100vh;
}

.hero > * {
  width: 100%;
  position: absolute;
}

.heroImage {
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}

#corrugatedBackground {
  background-image: url('../images/corrugatedHero.jpg'); 
  z-index: 1; 
}

#gradient {
  background: rgb(31,214,199);  
  background: linear-gradient(140deg, rgba(31,214,199,0.85) 0%, rgba(23,162,150,0.99) 100%);
  z-index: 2;
}

#container {
  background-image: url('../images/container.png'); 
  background-size: contain;
  z-index: 3;
  width: 60%;
  left: -5%;
  bottom: 25%;

  @media screen and (min-width: 768px) {
    bottom: auto;
    width: 35%;
    left: 0%;
  }

}

#lock {
  background-image: url('../images/lock-solid.svg'); 
  background-size: contain;
  z-index: 1;
  right: -3%;
  width: 70%;
  bottom: -15%;


  @media screen and (min-width: 768px) {
    bottom: -10%;
    width: 35%;
  }
}

#heroContent {
  position: absolute;
  width: 100%;
  color:white;
  text-align: end;
  z-index: 3;
  font-size: 0.7em;

  @media screen and (min-width: 768px) {
    font-size: 1em;
  }
}

#companyName {
  position: absolute;
  width: 100%;
  top: 35%;
  font-size: 3.5em;
  text-align: center;
}

#companyName > .large {
  font-size: 1.5em ;
}

#companyStatement {
  position: absolute;
  width: 100%;
  bottom: 0%;
  padding: 0% 3%;
}

#companyStatement > a {
  font-size: 1em;
}
#companyStatement * {
  font-size: 1.7em;
}

// About
p {
  line-height: 30px;
}

#about {
  position: relative;
  background-color: white;
  z-index: 1;
}

#openingText {
  line-height: 40px;
  text-align: center;
  padding: 50px 10px;


  @media screen and (min-width: 768px) {
    padding: 50px 150px;
    font-size: 1.2em;
    line-height: 50px;
  }

}

// Services 

#services {
  margin: 0 100px;
  padding: 100px 25px;
  background-color: #EFEFEF;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);

  @media screen and (min-width: 768px) {
    padding: 100px 150px;
  }

  @media screen and (min-width: 1100px) {
    padding: 100px 200px;
  }

  p, li {
    line-height: 35px;
    font-size: 0.8em;

    @media screen and (min-width: 768px) {
      line-height: 40px;
      font-size: 1em;
    }
  }
}

#specifications {
  background-color: #EBFFFD;
  text-align: center;
  border: 2px solid #2A9D8F;
  width: 220px;
  margin: auto;

  p {
    background: rgb(31,214,199);  
    background: linear-gradient(140deg, rgba(31,214,199,0.85) 0%, rgba(23,162,150,0.99) 100%);
    color: white;
    border-bottom: 2px solid #2A9D8F;
  }

  ul {
    list-style-type: none;
    padding: 0;
    line-height: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 300px;
  }

}


.usp {
  padding: 2%;
}

.usp > div {
  display: flex;
  height: 130px;
  width: 130px;
  color: #EDD607;
  border: 4px solid #2A9D8F;
  border-radius: 100%;
  margin-bottom: 5%;
}

.usp i {
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.usp > * {
  text-align: center;
  padding: 5%;
  margin: auto;
}

.usp h3 {
  font-size: 1.5em;
}

.usp #accessibleSVG {
  width: 80%;
}

.horizontalLine {
  width: 80%;
  border-top: 1px solid #2A9D8F;
  z-index: 1;
}

// Contact

#contact {
  margin: 0 100px;
  padding: 50px 25px;

  p {
    line-height: 35px;
    font-size: 0.8em;

    @media screen and (min-width: 768px) {
      line-height: 40px;
      font-size: 1em;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 50px 50px;
  }

  @media screen and (min-width: 1100px) {
    padding: 50px 200px;
  }

}

.contactInfo {
  padding: 2%;
}

.contactInfo > .row > div > div {
  display: flex;
  height: 100px;
  width: 100px;
  color: #EDD607;
  border: 4px solid #2A9D8F;
  border-radius: 100%;
  margin-bottom: 5%;
  line-height: 30px;
  transition: background-color 0.5s ease-in-out;
}

.contactInfo:hover > .row > div > div {
  background-color:#2A9D8F;
}

.contactInfo i {
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.contactInfo > * {
  text-align: center;
  padding: 5px;
  margin: auto;
}

.contactInfo > a > p {
  display: block !important;
  line-height: 30px !important;
  text-align: center !important;
}

#contactForm {
  background: rgb(31,214,199);  
  background: linear-gradient(140deg, rgba(31,214,199,0.85) 0%, rgba(23,162,150,0.99) 100%);
  border-radius: 10px;
  color: white;
  padding: 25px 25px;

  @media screen and (min-width: 768px) {
    padding: 25px 150px;
  }

  p, .form-control, #sendEnquiryBtn {
    line-height: 35px;
    font-size: 0.8em;

    @media screen and (min-width: 768px) {
      line-height: 40px;
      font-size: 1em;
    }
  }


}

#contactForm input, #contactForm textarea {
  background-color: #EBFFFD;
}

#sendEnquiryBtn {
  background-color: #EDD607;
  padding: 10px 15px;
}

#copyright {
  p {
    font-size: 0.8em;

    @media screen and (min-width: 768px) {
      font-size: 1em;
    }
  }
}


// Misc

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline:0px !important;
    box-shadow: none !important;
}

// animations 

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}


h1 {
  
  span{
    width: 100%;
    float: left;
    color: white;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
}

h1 span {
  animation-delay: 0.6s;
  animation-fill-mode: forwards;

  &:first-child{
    animation-delay: 0.7s;
  }

  &:last-child{
    color: white;
    animation-delay: 1.5s;
  }
}


@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }

100% {
     transform: translateY(0);
     opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

@keyframes cardAnimation {
  from {
    opacity: 0;
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }

  to {
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
}

.cardAnimation {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: cardAnimation;
  animation-fill-mode: forwards;
}



// animate.css

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}
